<nav>
    <mat-toolbar class="parents-nav">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>

        </button>
        <small> Mega Menu </small>
        <img class="arrow" style="margin-top: 5px; margin-left: 8px;" src="assets/arrow.png" width="15px" alt="">

        <input class="search-input" placeholder="Search" type="text" name="" id="">
        <img class="search-png" src="assets/search.png" width="15px" alt="">

        <span class="example-spacer"></span>
        <p class="bedge">8</p>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <fa-icon class="bell-icon" [icon]="faBell"></fa-icon>
        </button>
        <img class="image-icon-nav" src="https://aatrox-demo.vercel.app/preview/layout3/assets/images/faces/1.jpg"
            alt="">

    </mat-toolbar>

</nav>