.parents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.child {
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 1px 2px 2px rgb(226, 224, 224);
}

.child-info {
    background-color: white;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

img {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}


.card-icon {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:1279px) and (min-width: 765px) {
    .parents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .child {
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 1px 2px 2px rgb(226, 224, 224);
    }

    .child-info {
        background-color: white;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }

    img {
        max-width: 100%;
        border-radius: 10px 10px 0px 0px;
    }


    .card-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 764px) {
    .parents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .child {
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 1px 2px 2px rgb(226, 224, 224);
    }


    .child-info {
        background-color: white;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }

    img {
        max-width: 100%;
        border-radius: 10px 10px 0px 0px;
    }


    .card-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }
}