<div>
    <h4>Most <span style="color: #B88BFA;">Recent Media</span></h4>

    <div class="parents">
        <section class="child">
            <img src="https://aatrox-demo.vercel.app/preview/layout3/assets/images/gallery/sq-10.jpg" alt="">
            <div class="child-info">
                <div class="card-icon">

                    <mat-icon>thumb_up</mat-icon> <span>2.3k</span>


                    <mat-icon> comment </mat-icon> <span>900</span>

                </div>
                <p>23 days ago</p>
            </div>
        </section>
        <section class="child">
            <img src="https://aatrox-demo.vercel.app/preview/layout3/assets/images/gallery/sq-8.jpg" alt="">
            <div class="child-info">
                <div class="card-icon">

                    <mat-icon>thumb_up</mat-icon> <span>2.3k</span>


                    <mat-icon> comment </mat-icon> <span>900</span>

                </div>
                <p>23 days ago</p>
            </div>
        </section>
        <section class="child">
            <img src="https://aatrox-demo.vercel.app/preview/layout3/assets/images/gallery/sq-6.jpg" alt="">
            <div class="child-info">
                <div class="card-icon">

                    <mat-icon>thumb_up</mat-icon> <span>2.3k</span>


                    <mat-icon> comment </mat-icon> <span>900</span>

                </div>
                <p>23 days ago</p>
            </div>
        </section>
        <section class="child">
            <img src="https://aatrox-demo.vercel.app/preview/layout3/assets/images/gallery/sq-4.jpg" alt="">
            <div class="child-info">
                <div class="card-icon">

                    <mat-icon>thumb_up</mat-icon> <span>2.3k</span>


                    <mat-icon> comment </mat-icon> <span>900</span>

                </div>
                <p>23 days ago</p>
            </div>
        </section>
    </div>
</div>