<div>
    <div>
        <h2 style="display: inline-block;" class="title">Dashboard V5 </h2>
        <span class="small-dashboard-text" style="margin-left: 5px; margin-right: 10px;">Dashboard</span>
        <span class="small-dashboard-text" style=" margin-left: 10px;">Dashboard</span>
    </div>
    <div class="nav-border">
        <hr>
    </div>
    <!-- <hr> -->
    <div class="parents-cart">
        <section class="child">

            <div>
                <div class="card-icon">
                    <mat-icon class="icon-1">account_circle</mat-icon>
                </div>
                <h2>30.2k</h2>
                <p> Total Followers</p>

                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>
            </div>
        </section>
        <section class="child">
            <div>
                <div>
                    <h5 class="bedge-text">8</h5>
                </div>
                <div class="card-icon">
                    <mat-icon class="icon-2">search</mat-icon>
                </div>
                <h2>30.2k</h2>
                <p>Impression</p>

                <button class="btn-2"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>
            </div>
        </section>
        <section class="child">
            <div>
                <div>
                    <img class="bedge-img" width="40px"
                        src="https://aatrox-demo.vercel.app/preview/layout3/assets/images/faces/2.jpg" alt="">
                </div>
                <div class="card-icon">
                    <mat-icon class="icon-3">search</mat-icon>
                </div>
                <h2>30.2k</h2>
                <p> Connect</p>


                <button class="btn-3"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>
            </div>
        </section>
        <section class="child">
            <div>
                <div class="card-icon">
                    <mat-icon class="icon-4"> mail_outline</mat-icon>
                </div>
                <h2>30.2k</h2>
                <p> Rate Review</p>


                <button class="btn-4"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>
            </div>
        </section>
    </div>
</div>