<div class="parents">
    <app-sidebar class="nav"></app-sidebar>
    <div class="child">
        <app-navbar></app-navbar>
        <div class="container">
            <div>
                <app-rating-cart></app-rating-cart>
                <app-img-cart></app-img-cart>
                <app-follower-growth-chart></app-follower-growth-chart>
                <app-rating-cart></app-rating-cart>
                <app-reach-chart></app-reach-chart>
                <app-like-comment-chart></app-like-comment-chart>
                <app-posting-habits></app-posting-habits>
            </div>
        </div>
    </div>
</div>