<div class="sidebar-parents">

    <section class="child">
        <mat-icon class="icon-1">home</mat-icon>
        <mat-icon class="icon">stars</mat-icon>
        <mat-icon class="icon">supervisor_account</mat-icon>
        <mat-icon class="icon">watch_later</mat-icon>
        <mat-icon class="icon">work</mat-icon>
        <mat-icon class="icon">shop</mat-icon>
    </section>
    <section class="info-child">
        <h1 class="title">AatroX</h1>
        <div class="text-title">
            <p class="title-dashboard">Dashboard</p> <br>
            <small class="lorem-text">Lorem, ipsum dolor sit .</small> <br>
            <small>Dashboard-ver-1</small> <br>
            <small>Dashboard-ver-2</small> <br>
            <small>Dashboard-ver-3</small> <br>
            <small>Dashboard-ver-4</small>
        </div>
    </section>


</div>