<div>
    <div class="parents-chart">
        <div>
            <p class="title">Reach Impressions History</p>
        </div>
        <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis" [stroke]="stroke" [tooltip]="tooltip"
            [dataLabels]="dataLabels" [markers]="markers" [colors]="colors"></apx-chart>
    </div>
    <!-- card section start -->

    <section class="parents-cart">
        <section class="child">
            <div>
                <p class="cart-text"> Total Followers</p>
                <h2>30.2k</h2>
                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>

            </div>
        </section>
        <section class="child">
            <div>
                <p class="cart-text"> Total Followers</p>
                <h2>30.2k</h2>
                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>

            </div>
        </section>
        <section class="child">
            <div>
                <p class="cart-text"> Total Followers</p>
                <h2>30.2k</h2>
                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>

            </div>
        </section>
        <section class="child">
            <div>
                <p class="cart-text"> Total Followers</p>
                <h2>30.2k</h2>
                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>

            </div>
        </section>
        <section class="child">
            <div>
                <p class="cart-text"> Total Followers</p>
                <h2>30.2k</h2>
                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>

            </div>
        </section>
        <section class="child">
            <div>
                <p class="cart-text"> Total Followers</p>
                <h2>30.2k</h2>
                <button class="btn-1"> <i class="fa-solid fa-chevron-down"></i>12.6% </button>

            </div>
        </section>
    </section>

</div>